
@font-face {
    font-family: 'pix M 8pt';
    src: url('font/MyFont.eot');
    src: url('font/MyFont.eot?#iefix') format('embedded-opentype'),
        url('font/MyFont.woff2') format('woff2'),
        url('font/MyFont.woff') format('woff'),
        url('font/MyFont.ttf') format('truetype'),
        url('font/MyFont.svg') format('svg');}


@media (orientation: landscape) {
    #alc{
        width:auto;
        height: 50000px;
        max-height: 60vh;
        max-width: 60vh;
    }}


@media (orientation: portrait) {
    
    @media (max-width: 66vh){ /*slim portrait*/
        
        #alc{
            width:auto;
            height: 50000px;
            max-height: 98vw;
            max-width: 98vw;
            }
    }
    
    @media (min-width: 66vh){ /*wide portrait*/
        
        #alc{
            width:auto;
            height: 50000px;
            max-height: 68vh;
            max-width: 68vh;
            }
    }
}

    .homelogo{
        max-width: 90vw;
        max-height: 30vh;
        height: auto;}

    .pagelogo{
        max-width: 75vw;
        height: auto;
        padding-top: 20px;
        }

    .homeinfo{
        background-image:radial-gradient(#292929, #292929, #1a1a1a);
        background-size: contain;
        
        display: inline-block;
        
        outline-width: 1%;
        outline-style: outset;
        outline-color: navajowhite;
        
        position: absolute;
        top: 50%;
        left: 50%;
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        }



    
    .scrollinfo{
        background-image:radial-gradient(#292929, #292929, #1a1a1a);
        background-size: contain;
        
        outline-width: 1%;
        outline-style: outset;
        outline-color: navajowhite;
        
        margin-top: 4vh;
        margin-bottom: 3vh;
        margin-left: 10vw;
        margin-right: 10vw;
        
        padding-bottom: 20px;
        }

    .gallery{
        width: 35vw;
        height: auto;
        margin: 1vw;
        outline-width: 0.5vw;
        outline-style: double;
        outline-color: yellow;
        }


    h1{
        background: -webkit-linear-gradient(#d10d0d, #730043);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-family: 'Jokerman';
        font-weight: normal;
        font-size: 75px;
        margin: 0;
        }

    p{
        padding: 10px;
        color: #fffee0;
        font-size: 25;
        padding-left: 50px;
        padding-right: 50px;
        text-align: left
        }

    Body{
        background-image: url(pics/background.png);
        }
        


