
@font-face {
    font-family: 'pix M 8pt';
    src: url('font/MyFont.eot');
    src: url('font/MyFont.eot?#iefix') format('embedded-opentype'),
        url('font/MyFont.woff2') format('woff2'),
        url('font/MyFont.woff') format('woff'),
        url('font/MyFont.ttf') format('truetype'),
        url('font/MyFont.svg') format('svg');}

<style>{}

.text{
    color: #fffee0;}

     .info{
        background-color:#292929;
        background-size: contain;
        border-style: solid;
        border-width: 20px;
        border-color: #292929;
        outline: 5px solid ivory;
        position: absolute;
        top: 50%;
        left: 50%;
        -moz-transform: translateX(-50%) translateY(-50%);
        -webkit-transform: translateX(-50%) translateY(-50%);
         transform: translateX(-50%) translateY(-50%);}


</style>

    img{    /*Default Image Settings*/
        display: block;
        margin-left: auto;
        margin-right: auto;}


    Body{
        background-image: linear-gradient(black, red, white, red, black);
        background-repeat: repeat;
        background-size: cover;}
        


