<style>{}

    .bloglogo{ /*Words that say "Richard Mosen at top*/
        max-height: 8vh;
        max-width: 20vw;
        height: auto;
        width: auto;
        position: relative;
        left: 2%;
        top:15%
        }

    .bloghead{ /*Word that says "Blog" at top*/
        font-size: 9.5vmin;
        font-family: 'Fredericka the Great', cursive;
        position: absolute;
        top:0;
        left:50%;
        transform: translate(-50%);
        background: -webkit-linear-gradient(cyan, cyan,grey, grey);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        }
    
    .index{
        font-size: 5vmin;
        font-family: 'Fredericka the Great', cursive;
        position: absolute;
        top: 20%;
        right: 2%;
        background: -webkit-linear-gradient(magenta, magenta, grey, grey);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        }

    .header{
        position: absolute;
        top:0;
        left:50%;
        transform: translate(-50%);
        width: 80vw;
        height:13vmin;
    
        background-color: #292929;
        border: 3px;
        border-top: 0px;
        border-style: outset;
        border-color: aquamarine;
        }
    
    .body{
        position: absolute;
        top: 15vmin;
        left:50%;
        transform: translate(-50%);
        width: 80vw;
        bottom: auto;
    
        background-color: #292929;
        border: 3px;
        border-style: outset;
        border-color: aquamarine;
        margin-bottom: 2vh;
        }

    .button{
        margin: 0.5vw;
        width: 10vw;
        border: 2px;
        border-style: outset;
        border-color: white;
        background-color: white;
        font-family: 'arial', sans-serif;  
        font-size: 3vmin;
        }

    .blogbox{
        position: relative;
        left:5%;
        height: 25vh;
        width: 63%;
        background-image:linear-gradient(45deg, darkorange, #D47F04);
        border: 3px;
        border-color: aquamarine;
        border-style: inset;
        display: inline-block;
        }
        .blogbox:active {
        border-style: outset;
        }

    .imgbox{
        position: relative;
        left:3%;
        height: 25vh;
        width: 25%;
        background-color: darkgrey;
        border: 3px;
        border-color: aquamarine;
        border-style: solid;
        display: inline-block;
        }

    .boxtext{
        font-family: 'Asap', sans-serif;
        font-size: 3vmin;
        width: 96%;
        position: absolute;
        left: 2%;
        top: 27%;
        display:initial;
        } 

    .teaser{ /*blogbox image*/
        height: auto;
        width: auto;
        max-width: 100%;
        max-height: 100%;
        position: absolute;
        top: 50%;
        left: 50%;
        -moz-transform: translateX(-50%) translateY(-50%);
        -webkit-transform: translateX(-50%) translateY(-50%);
         transform: translateX(-50%) translateY(-50%);}
        }

    .row {
        white-space: nowrap;
        }

    .title{
       font-size: 5vmin;
        font-family: 'Fredericka the Great', cursive;
        color: aliceblue;
        margin-left: 8%
        }

    .published{
       font-size: 2vmin;
        font-family: 'Fredericka the Great', cursive;
        color: aliceblue;
        margin-left: 8%
        }

    .linklist{
        margin-left: 20%;
        font-family: 'Asap', sans-serif;
        font-size: 3vmax;
        color: aliceblue;
        }

    .note{
        margin-left: 20%;
        margin-right: 20%;
        font-family: 'Asap', sans-serif;
        font-size: 1.5vmax;
        color: aliceblue;
        text-align: center;
        }

    .bodytext{
        margin-left: 7%;
        margin-right: 7%;
        font-family: 'Asap', sans-serif;
        font-size: 2vmax;
        letter-spacing: 1px;
        color: aliceblue;
        word-wrap: break-word;
        }

    .left{
        height:auto;
        float:left;
        }

    .right{
        height:auto;
        float:right;
        }

    .by{
        border: 3px;
        border-style: inset;
        border-color: brown;
        width: 50%;
        height: 15vh;
        margin: 8%;
        background-color: darkgrey;
        color: black;
        font-family: 'Abel', sans-serif;
        font-size: 3.5vmin;
    
    }
    
    .author{
        height: 15vh;
        width:auto;
        float: left;
        margin-right: 3%;
}
    
</style>

    p1{ /*month year text*/
        font-size: 5vmin;
        font-family: 'Fredericka the Great', cursive;
        background: -webkit-linear-gradient(navajowhite, navajowhite, grey, grey);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        margin: 2vw;
        max-width: 20vw;
        }
    
    h2{ /*blogbox header text*/
        color: aliceblue;
        font-size: 3.5vmin;
        max-height: 25%;
        font-family: 'Abel', sans-serif;
        width: 70%;
        position: absolute;
        left: 2%;
        }

    Body{
        background-image: 
        linear-gradient(-45deg, black, black, white, black, black, black, red, black, black, black, white, black, black, black, red, black, black, black, white, black, black, black, red, black, black, black, white, black, black, black, red, black, black, black, white, black, black, black, red, black, black, black, white, black, black, black, red, black, black, black, white, black, black, black, red, black, black, black, white, black, black, black, red, black);
        background-size: auto 250vh;
        }